@import "tailwindcss";
@plugin "daisyui" {
  themes: garden --default, forest --prefersdark;
}
/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
